/* styles.css */

/* Center the container vertically and horizontally */
/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

/* Add padding and background color to the card */
/* .card {
    padding: 20px;
    background-color: #f8f9fa;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
} */

/* Add space between form elements */
/* .form-group {
    margin-bottom: 20px;
} */

/* Center the button within its container */
/* .btn-block {
    display: block;
    width: 100%;
} */

/* Center the text within the card */
/* .text-center {
    text-align: center;
} */

/* Add margin to the top of the "Already have an account?" message */
/* .mt-3 {
    margin-top: 15px;
} */


/* Elements pour les fenêtres modales */
.modal {
    display: none; /* Masquer la fenêtre modale par défaut */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #351199;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

.progress-container {
    position: relative;
}

.progress {
    background-color: #2d2ddd; /* Couleur de fond du reste à faire */
  }
.progress-bar-custom {
    background-color: #c21ea4; /* Couleur de la barre de progression */
  }

.progress-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}

.label-left {
    left: 10px;
}

.label-right {
    right: 10px;
}
