{% extends 'base.html' %}

{% block title %}
    Menu 1
{% endblock %}


{% block content %}
<h1>Liste de naissance</h1>

<!-- <form id="textForm">
    <label for="textInput">Entrez votre texte :</label><br>
    <input type="text" id="textInput" name="textInput"><br><br>
    <button type="submit" class="btn btn-primary btn-block mt-3">Valider info</button>
</form>
<div id="textDisplay"></div> -->


<form method="post">
    <div class="form-group">
        <label for="username">Sexe</label>
        <input type="text" class="form-control" name="sexe" placeholder="Garçon ou Fille" >
        <label for="username">Nom</label>
        <input type="text" class="form-control" name="nom" placeholder="..." >
        <label for="username">Poids</label>
        <input type="text" class="form-control" name="poids" placeholder="Poids en g" >
        <label for="username">Taille</label>
        <input type="text" class="form-control" name="taille" placeholder="Taille en cm" >
        <label for="username">date</label>
        <input type="text" class="form-control" name="date" placeholder="JJ/MM" >

        <button type="submit" class="btn btn-primary btn-block mt-3">Valider info</button>
    </div>
</form>

<h1>Affichage d'Information</h1>
{% if info %}
    <p>Texte enregistré : {{ info.text }}</p>
{% else %}
    <p>Aucune information enregistrée.</p>
{% endif %}



{% endblock %}
