{% extends 'base.html' %}

{% block title %}
    Menu 2
{% endblock %}


{% block content %}
<h1>Pronostics</h1>

{% if session.selected_project.id %}
    Projet sélectionné : {{ session.selected_project.name }}
    {% if pronostic_done %}
        <p>Vous avez déjà fait votre pronostic</p>
        Sexe : {{ prono_sexe }} </br>
        Nom : {{ prono_nom }} </br>
        Poids : {{ prono_poids }} grammes</br>
        Taille : {{ prono_taille }} centimètres</br>
        Date : {{ prono_date }} </br>
        <div>
            <button onclick="window.location.href='/update_pronostic'" class="btn btn-primary mt-4">Changer de pronostic</button>
        </div>
    {% else %}
        <p>Vous n'avez pas encore fait votre pronostic</p>
        <form method="post">
            <div class="form-group">
                <label for="sexe">Sexe</label>
                <input type="text" class="form-control" name="sexe" placeholder="Garçon ou Fille" required >
            </br>
                <label for="name">Nom</label>
                <input type="text" class="form-control" name="nom" placeholder="..." required>
            </br>
                <label for="weight">Poids</label>
                <input type="text" class="form-control" name="poids" placeholder="Poids en g" required>
            </br>
                <label for="length">Taille</label>
                <input type="text" class="form-control" name="taille" placeholder="Taille en cm" required>
            </br>
                <label for="date">date</label>
                <input type="text" class="form-control" name="date" placeholder="JJ/MM" required>
        
                <button type="submit" class="btn btn-primary btn-block mt-3">Valider info</button>
            </div>
        </form>
    {% endif %}

{% else %}
Aucun projet sélectionné.
{% endif %}
</br>




{% endblock %}
