{% extends 'base.html' %}

{% block title %}
    Admin section
{% endblock %}


{% block content %}

<div class="col offset-md-3 col-md-6 col-sm-12 text-center mt-4">
    <p>Choisissez le projet avec lequel vous souhaitez interragir : </p>
    <form action="/select_project" method="post">
        <select name="project_id">
            {% for project_name, project_id in projects_dict.items() %}
            <option value="{{ project_id }}">{{ project_name }}</option>
            {% endfor %}
        </select>
        <button type="submit">Choisir le projet</button>
    </form>
</div>

{% endblock %}
