{% extends 'base.html' %}

{% block title %}
    Update pronostics
{% endblock %}


{% block content %}

<h1>MAJ Pronostics</h1>

<form method="post">
    
    <div class="form-group">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
                <input type="radio" name="sex" value="Garçon" autocomplete="off" {% if prono_sex == 'Garçon' %} checked {% endif %}> Garçon</input>
            </label>
            <label class="btn btn-secondary">
                <input type="radio" name="sex" value="Fille" autocomplete="off" {% if prono_sex == 'Fille' %}checked{% endif %}> Fille</input>
            </label>
        </div>        
    </br>
    </br>
        <label for="name" >Nom</label>
        <input type="text" class="form-control" name="name" placeholder="{{prono_name}}">
    </br>
    </br>
        <label for="weight" class="form-label">Poids</label>
        <input type="range" class="form-range" id="weight" name="weight" min="2.5" max="4.5" step="0.001" oninput="updateWeightValue(this.value)">
        <span id="weightValue">{{prono_weight}}</span> kilos
    </br>
    </br>
        <label for="height" class="form-label">Taille</label>
        <input type="range" class="form-range" id="height" name="height" min="30" max="60" step="0.1" oninput="updateHeightValue(this.value)">
        <span id="heightValue">{{prono_height}}</span> Centimètres

    </br>
    </br>
        <label for="date">Date</label>
        <input type="date" class="form-control" name="date" id="date" placeholder="Date fournie : {{prono_date}}">
    </br>
        <button type="submit" class="btn btn-primary btn-block mt-3">Valider les modifications</button>
    </div>
</form>


<script>
    // Fonction pour mettre à jour la valeur du poids
    function updateWeightValue(value) {
        document.getElementById("weightValue").textContent = value;
    }
    // Fonction pour mettre à jour la valeur de la taille
    function updateHeightValue(value) {
        document.getElementById("heightValue").textContent = value;
    }

    // Mettre à jour la valeur de départ du curseur pour le poids
    window.onload = function() {
        var Initialweight = "{{prono_weight}}";
        document.getElementById("weight").value = Initialweight;
        updateWeightValue(Initialweight);

    // Mettre à jour la valeur de départ du curseur pour la taille
        var Initialheight = "{{prono_height}}";
        document.getElementById("height").value = Initialheight;
        updateHeightValue(Initialheight);
    };


</script>


{% endblock %}
